* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-size: contain;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-image: url('background.jpg')

}

a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
  background-image: url('background-header.jpg');
  width: 100%;
  margin-bottom: 15px;

}

header h1 {
  font-size: 38px;
  padding-left: 10px;
}

header h1 a {
   color: black;
   font-weight: bold;
}

.login-form {
   margin-left: 45px;
}

.dashboard-btn {
   font-size: 20px;
   color: black;
   padding-right: 10px;
}

.logout-btn {
   font-size: 20px;
   color: black;
   padding-right: 10px;
}

.login-btn {
   font-size: 20px;
   color: black;
   padding-right: 15px;
}


.login-btn1 {
   font-size: 20px;
   color: white;
   width: 300px;
   height: 40px;
   font-weight:lighter;
}

.signup-btn {
   font-size: 20px;
   color: white;
   width: 300px;
   height: 40px;
   font-weight:lighter;
   margin-bottom: 20px;
}

.email-title {
   font-size: 25px;
   background-color: rgb(255, 255, 255, 0.5);
   width: max-content;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 5px;
   font-weight: bold;
   border-radius: 20px
}

.password-title {
   font-size: 25px;
   background-color: rgb(255, 255, 255, 0.5);
   width: max-content;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 5px;
   font-weight: bold;
   border-radius: 20px;
}

.username-title {
   font-size: 25px;
   background-color: rgb(255, 255, 255, 0.5);
   width: max-content;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 5px;
   font-weight: bold;
   border-radius: 20px;
}

.login-signup{
  display: flex;
  gap: 250px;
}

.email-input {
   height: 40px;
   width: 300px;
}

.password-input {
   height: 40px;
   width: 300px;
   margin-bottom: 20px;
}

.username-input {
   height: 40px;
   width: 300px;
}


main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  background-color: rgb(255, 255, 255, 0.8);
}


.post-title {
    font-size: 25px;
    color: black;
    padding-left: 5px;
}

.post .title span {
  font-style: italic;
  color: rgb(79, 79, 79);
  padding-left: 5px;
}

.date {
    color: white;
}

.points {
    color: black;
    padding-left: 5px;
}

.create-post {
   padding-left: 15px;
   background-color: rgb(255, 255, 255, 0.8);
}

.create-btn {
   margin-bottom: 10px;
   width: 150px;
}

.create-post-header {
   color: black;
   font-size: 25px;
}

.title-title {
color: black;
}

.link-title {
   color: black;
}

.your-post {
   color: black;
   padding: 7px;
   background-color: rgb(255, 255, 255, 0.8);
   width: max-content;
   border-radius: 20px

}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
  padding: 7px;
  background-color: rgb(255, 255, 255, 0.9);
}

.edit-post-title {
  padding: 7px;
  background-color: rgb(255, 255, 255, 0.9);
  width: max-content;
  border-radius: 20px
}

.back-btn {
  padding: 7px;
  background-color: rgb(255, 255, 255, 0.9);
  width: max-content;
  border-radius: 20px
}

.flash-message {
  background-color: #ffb6c1;
  color: red;
  text-align: center;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  color: white;
}