<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Login</title>
</head>

<body>

<div layout:fragment="content">
  <div class="login-signup">

  <div th:if="${notice}" class="flash-message">
    <h3>[[${notice}]]</h3>
  </div>

  <form action="#" th:action="@{/users/login}" th:object="${user}" method="post" class="login-form">
    <div>
      <label class="email-title">Email:</label>
      <input type="text" class="email-input" th:field="*{email}"/>
    </div>
    <div>
      <label class="password-title">Password:</label>
      <input type="password" class="password-input" th:field="*{password}"/>
    </div>
    <div>
      <button type="submit" class="login-btn1">Login</button>
    </div>
  </form>



  <form action="#" th:action="@{/users}" th:object="${user}" method="post" class="signup-form">
    <div>
      <label class="username-title">Username:</label>
      <input type="text" class="username-input" th:field="*{username}"/>
    </div>
    <div>
      <label class="email-title">Email:</label>
      <input type="text" class="email-input" th:field="*{email}"/>
    </div>
    <div>
      <label class="password-title">Password:</label>
      <input type="password" class="password-input" th:field="*{password}"/>
    </div>
    <div>
      <button type="submit" class="signup-btn">Signup</button>
    </div>
  </form>
  </div>
</div>

</body>
</html>